@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.centering {
    display: table;
    width: 100%;
}
.centering > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 03.12.2015

    placeholder

    fonts

    site

    logo

    social-2

    pagination

    casino-info
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #ccc;
    -webkit-transition: color 300ms ease-in-out;
}
:-moz-placeholder {
    color: #ccc;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
.placeholder {
    color: #ccc;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "helvetica-regular";
    src: url("../fonts/HelveticaRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-bold";
    src: url("../fonts/HelveticaBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-medium";
    src: url("../fonts/HelveticaMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-light";
    src: url("../fonts/helveticaneuecyr-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-heavy";
    src: url("../fonts/helveticaneueltstd-hv.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    font-family: 'helvetica-regular', sans-serif;
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 153px;
}
.site__form input,
.site__form textarea {
    width: 100%;
    height: 38px;
    border: 1px solid #a5b0b4;
    color: #a5b0b4;
    border-radius: 4px;
    margin-bottom: 9px;
    font-size: 14px;
    padding: 0 9px;
    background: rgba(255,255,255,0.6);
}
.site__form textarea {
    height: 109px;
    padding: 8px 9px;
}
.site__form .btn_review {
    display: block;
    margin: 0 auto;
    width: 153px;
    left: auto;
    padding: 0;
}
.site__content {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    z-index: 3;
}
.site__caption {
    font-size: 14px;
    color: #6a828a;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    padding: 10px 0;
    position: relative;
    margin-bottom: 10px;
}
.site__caption:after,
.site__caption:before {
    content: '';
    position: absolute;
    left: -3px;
    right: -3px;
    top: 0;
    height: 1px;
    border-top: 2px dotted #dcdee5;
}
.site__caption:after {
    top: auto;
    bottom: -1px;
}
.site__caption_blue {
    color: #0098ff;
}
.site__content-layout{
    padding: 13px 3px 0;
}
.site__content-layout:after{
    content: '';
    display: block;
    clear: both;
}
.site__aside{
    position: relative;
    display: none;
    z-index: 1;
}
.site__header {
    position: relative;
    height: 45px;
    border-bottom: 5px solid #0098ff;
    background-color: #2d3e50;
    box-shadow: 0 0 10px #777;
    z-index: 4;
}
.site__header-layout{
    position: relative;
    max-width: 960px;
    height: inherit;
    margin: 0 auto;
}
.site__footer {
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 153px;
    box-shadow: 0 -5px 15px #eaeaea;
}
.site__footer-layout {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: inherit;
    background-color: #fff;
    padding-top: 15px;
}
.site__footer-menu{
    text-align: center;
}
.site__footer-menu>h2{
    display: none;
}
.site__footer-layout li a{
    font-size: 18px;
    color: #6a828a;
}
.site__footer-layout li{
    margin-bottom: 15px;
}
.site__footer-layout li a:hover{
    color:#0098ff;
}
.site__footer-popular{
    display: none;
}
.site__footer-super{
    display: none;
}
.site__footer-logo{
    display: none;
    position: absolute;
    bottom: 32px;
    left: 0;
}
.site__footer-logo img{
    width: 100%;
    height: 100%;
}
.site__content-item{
    margin-right: 1px;
    margin-bottom: 9px;
    padding-top: 5px;
    border: 1px solid #f9f9f9;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.site__content-head{
    position: relative;
    margin: 0 -3px 14px -2px;
    padding: 14px 0 16px 2px;
    border: none;
    font: 14px "helvetica-medium", sans-serif;
    text-shadow: 1px 1px 0 #fff;
    color: #0098ff;
    text-align: left;
    background-color: #dcdfe8;
    text-transform: none;
    white-space: nowrap;
}
.site__content-head:after,
.site__content-head:before {
    top: 100%;
    left: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(163, 163, 163, 0);
    border-top-color: #a3a3a3;
    border-width: 2px 0 0 2px;
}
.site__content-head:after{
    left: auto;
    right: 0;
    border-width: 2px 2px 0 0;
}
.site__content-head time{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 42px;
    padding-top: 1px;
    padding-right: 4px;
    border-left: 1px dashed #8fa0a5;
    color: #8fa0a5;
    font-weight: bold;
    text-align: center;
    font: 15px "helvetica-bold", sans-serif;
    background-color: #dcdfe8;
    z-index: 2;
}
.site__content-head time span{
    display: block;
    margin-top: -1px;
}
.site__content-head time .month{
    text-transform: lowercase;
    margin-bottom: 1px;
    font-size: 13px;
}
.site__content-head time .year{
    font-size: 10px;
}
.site__caption-btns {
    display: none;
}
.site__caption_game {
    display: none;
}
.site__hot {
    text-align: center;
    text-transform: none;
}
.site__hot span {
    color: #dc2d26;
    position: relative;
    padding-right: 39px;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 14px;
    font-size: 22px;
    font-family: "helvetica-light", sans-serif;
}
.site__hot span:before {
    content:'';
    position: absolute;
    width: 27px;
    height: 31px;
    top: -13px;
    right: 0;
    background: url("../img/site__hot.png") no-repeat;
    background-size: contain;
}
/* --------------- /site --------------- */

/* --------------- casino-bonus --------------- */
.casino-bonus__game{
    overflow: hidden;
    padding-top: 14px;
}
.game-item{
    position: relative;
}
.game-item dl{
    overflow: hidden;
    font-size: 10px;
    width: 229px;
    display: inline-block;
    font-family: "helvetica-regular", sans-serif;
    margin-bottom: 2px;
}
.game-item dt{
    width: 121px;
    display: inline-block;
    color: #000;
    margin-right: 13px;
}
.game-item dd{
    display: inline-block;
    color: #6a828a;
    margin-bottom: 6px;
}
dt.game-item__clicks{
    position: relative;
    top: 8px;
    width: auto;
    color: #6a828a;
}
dd.game-item__clicks-num{
    position: relative;
    top: 8px;
    margin-left: 11px;
    margin-right: 1px;
    padding-left: 19px;
    font-size: 13px;
    color: #000;
}
dd.game-item__clicks-num:before{
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 16px;
    height: 20px;
    background: url("../img/icons-clicks.png") no-repeat center;
    background-size: 100% 100%;
    font-size: 13px;
}
.game-item__image{
    float: left;
    width: 69px;
    height: 65px;
    margin-top: 8px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}
.game-item .game-item__code{
    position: relative;
    top: 1px;
    margin-left: -97px;
    margin-bottom: 20px;
    padding: 4px;
    border: 2px dashed #dcdfe8;
    font-size: 14px;
    background-color: #f8f8f8;
    color: #000;
    font-family: "helvetica-bold", sans-serif;
    letter-spacing: -0.7px;
}
.game-item__note{
    color: #6a828a;
    background-color: #f8f8f8;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 9px;
    padding: 5px 9px 9px 8px;
    word-spacing: 0.7px;
    line-height: 12px;
    padding-bottom: 6px;
    margin-bottom: 7px;
}
.game-item__valid{
    display: inline-block;
    width: 100%;
    padding-left: 19px;
    padding-bottom: 11px;
    margin-bottom: 16px;
    border-bottom: 1px dashed #6a828a;
}
.game-item__valid > span{
    font-size: 13px;
    display: inline-block;
}
.game-item .game-item__status{
    color: #0098ff;
    margin-left: 7px;
    font-size: 13px;
    margin-bottom: 14px;
}
.game-item__button a:nth-child(2n){
    float: right;
}
.game-item__review{
    float: right;
    position: relative;
    top: -6px;
    font: 13px "helvetica-regular", sans-serif;
}
.game-item__number{
    margin-right: 18px;
    margin-bottom: 10px;
    padding-left: 41px;
}
.game-item__number > span{
    position: relative;
    margin-right: 3px;
    color: #6a828a;
}
.game-item__number > span:before{
    content: '';
    position: absolute;
    left: -28px;
    top: -2px;
    height: 20px;
    width: 20px;
    background-image: url("../img/comments.png");
    background-size: 21px;
    background-repeat: no-repeat;
}
/* --------------- /casino-bonus --------------- */

/* --------------- estimate --------------- */
.estimate{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 48px;
    margin-bottom: 12px;
    margin-left: 19px;
    border: 3px solid #b5b9c7;
    border-radius: 4px;
}
.estimate span{
    display: none;
}
.estimate button{
    position: relative;
    border: none;
    height: 100%;
    width: 47%;
    padding: 0;
    background-color: #fff;
    z-index: 0;
}
.estimate button,
.estimate button:after{
    background-size: 31px;
    background-repeat: no-repeat;
    background-position: center;
}
button.estimate__like{
    background-image: url("../img/like.png");
    border-right: 3px solid #b5b9c7;
    width: 52%;
}
button.estimate__dislike{
    background-image: url("../img/dislike.png");
    margin-left: -5px;
}
.estimate button:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.estimate__like:after{
    background-image: url("../img/like-hower.png");
}
.estimate__dislike:after{
    background-image: url("../img/dislike-hower.png");
}
.estimate button:hover:after{
    opacity: 1;
}
/* --------------- /casino-bonus --------------- */

/* --------------- mama-metr --------------- */
.mama-metr{
    display: none;
}
.mama-metr,
.mama-metr__value,
.mama-metr__value > div{
    position: absolute;
    text-align: center;
}
.mama-metr__frame{
    position: relative;
    width: 100%;
    height: 17px;
    border: 1px solid #dcdfe8;
    background-color: #f8f8f8;
    border-radius: 3px;
}
.mama-metr__value,
.mama-metr__value > div{
    height: 14px;
    background-size: 14px 12px;
    background-position: center left;
    background-repeat: repeat-x;
}
.mama-metr__value{
    left: 2px;
    right: 2px;
    background-image: url("../img/whitepoint.png");
}
.mama-metr__value > div{
    top: 0;
    left: 0;
    z-index: 1;
}
.mama-metr__value > div:before{
    content: '';
    position: absolute;
    top: -84px;
    left: 0;
    width: 145px;
    height: 91px;
    background: url("../img/mamametr.png") no-repeat 50% 100%;
}
.mama-metr__value .grey{
    background-image: url("../img/greypoint.png");
}
.mama-metr__value .blue{
    background-image: url("../img/bluepoint.png");
}
.mama-metr__value > .blue:before{
    background-image: url("../img/mamametr-blue.png");
}
.mama-metr__value .red{
    background-image: url("../img/redpoint.png");
}
.mama-metr__value > .red:before{
    background-image: url("../img/mamametr-red.png");
}
.mama-metr__name{
    display: block;
    font-size: 13px;
}
.mama-metr__number{
    position: relative;
    top: -2px;
    display: inline-block;
    margin-bottom: 2px;
    padding: 2px 7px 1px;
    border: 1px solid #dcdfe8;
    border-top: none;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
    background-color: #f8f8f8;
    z-index: 2;
}
/* --------------- /mama-metr --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    height: 45px;
    margin-left: -112px;
    padding-top: 9px;
    padding-left: 62px;
}
.logo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 40px;
    background: url("../img/bg-header.png") no-repeat 0 -2px/63px 46px;
}
.logo img{
    height: 100%;
}
/* --------------- /logo --------------- */

/* --------------- btn --------------- */
.btn{
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    background: #b5b9c7;
    border-radius: 4px;
    width: 125px;
    display: inline-block;
    vertical-align: top;
    height: 33px;
    text-align: center;
    padding-top: 11px;
    -webkit-transition: background 0.3s ease, color 0.3s ease;
    transition: background 0.3s ease, color 0.3s ease;
}
.btn_play{
    position: relative;
    background: #dc2d26;
    margin-right: 14px;
}
.btn_play:after{
    content: " ";
    position: absolute;
    top: 12px;
    right: 34px;
    width: 10px;
    height: 10px;
    background: url("../img/icons-play.png") no-repeat 0 0/100% 100%;
}
.btn:hover{
    background: #9ea2af;
}
.btn_play:hover{
    background-color: #c0140d;
}
.btn_review{
    background: #fff;
    color: #0098ff;
    border: 3px solid #0098ff;
    height: 29px;
    width: 112px;
    padding-top: 6px;
    position: relative;
    left: -3px;
}
.btn_review:hover{
    background: #0098ff;
    color: #fff;
}
.btn_red{
    background: #dc2d26;
}
.btn_red:hover{
    background: #ba2b24;
}
.btn_home {
    background: #dc2d26;
    text-transform: none;
    width: 135px;
    position: absolute;
    left: 50%;
    margin-left: -67px;
    top: -52px;
    padding-top: 9px;
}
.btn_home:hover {
    background: #ff0a00;
}
.btn_home span {
    position: relative;
    font-size: 17px;
    color: #fff;
    padding-left: 27px;
    font-family: "helvetica-light", sans-serif;
}
.btn_home span:before {
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    left: 0;
    background: url("../img/btn_home.png") no-repeat;
    background-size: contain;
}
.btn_aside{
    display: block!important;
    width: auto!important;
    margin: 0 10px;
}
.btn_blue, .btn_aside {
    background: #32abfc !important;
    color: #ffffff !important;
}
.btn_blue:hover, .btn_aside:hover {
    background: #1fa3fc !important;
}
/* --------------- /btn --------------- */

/* --------------- menu --------------- */
.menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
}
.menu__wrap{
    position: absolute;
    top: 100%;
    width: 133px;
    padding-top: 14px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    box-shadow: 1px 1px 1px #ccc;
}
.menu.active .menu__wrap{
    opacity: 1;
    visibility: visible;
}
.menu__wrap a,
.menu__aside a{
    display: block;
    position: relative;
    height: 22px;
    margin-top: -2px;
    padding: 6px 0 6px 8px;
    font-size: 12px;
    color: #6a828a;
    transition: background-color .3s ease, color .3s ease;
    -webkit-transition: background-color .3s ease, color .3s ease;
}
.menu__wrap > a{
    color: #0098ff;
}
.menu__wrap a:after,
.menu__aside a:after{
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    border-bottom: 2px dotted #dcdee5;
    z-index: 2;
}
.menu__btn:hover,
.menu.active .menu__btn{
    background: #0098ff;
}
.menu__btn {
    position: absolute;
    top: 6px;
    left: 0;
    width: 42px;
    height: 34px;
    padding: 0 11px 6px;
    border: none;
    border-radius: 2px 2px 0 0;
    background: none;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
}
.menu__btn > span,
.menu__btn > span:before,
.menu__btn > span:after{
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.menu__btn > span:before,
.menu__btn > span:after {
    content: '';
    position: absolute;
    left: 0;
}
.menu__btn > span:after {
    top: 230%;
}
.menu__btn > span:before {
    bottom: 240%;
}
.menu__aside dd{
    font-size: 16px;
}
.menu__aside dt{
    height: 18px;
    margin-bottom: 2px;
    padding-top: 4px;
    font-size: 12px;
    color: #f8f3f1;
    background-color: #0098ff;
    text-transform: uppercase;
    text-align: center;
}
.menu__wrap dd a,
.menu__aside dd > a{
    font-size: 10px;
    padding-left: 8px;
}
.menu__aside dl dt+dd a:after{
    display: none;
}
.menu__aside dl dd > a:hover,
.menu__aside dl dd.active > a{
    color: #000;
    background-color: #e9e8e8;
}
.menu__aside dl ul{
    display: none;
    position: relative;
    top: -2px;
    overflow: hidden;
}
.menu__wrap ul:after,
.menu__aside ul:after{
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    border-bottom: 2px dotted #dcdee5;
    z-index: 2;
}
.menu__aside li a,
.menu__wrap li a{
    padding-left: 23px;
    font-size: 10px;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
}
.menu__aside li a:hover,
.menu__wrap li a:hover{
    color: #0098ff;
}
.menu__wrap li a:after,
.menu__aside li a:after{
    display: none;
}
.menu.active .menu__wrap a.btn_aside{
    padding-left: 0;
    margin-top: 15px;
}
.menu.active .menu__wrap dl dd:first-child a:after{
    display: none;
}
.menu.active .menu__wrap a.btn_aside:after{
    display: none;
}
/* --------------- /menu --------------- */

/* --------------- search --------------- */
.search{
    float: right;
    width: 35px;
    height: 45px;
    cursor: pointer;
}
.search:before{
    content: '';
    display: block;
    margin-top: 12px;
    margin-left: 9px;
    width: 17px;
    height: 17px;
    background: url("../img/icon-search.png") no-repeat 0 0/17px 17px;
    opacity: 1;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease
}
.search:hover:before{
    opacity: 0;
}
.search__btn{
    position: relative;
    top: -16px;
    left: 9px;
    width: 16px;
    height: 17px;
}
.search__btn:before,
.search__btn:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    height: 14px;
    border-left: 3px solid #0098ff;
    border-radius: 10px;
    opacity: 0;
    transition: transform .4s ease, left .3s ease, height .3s ease, opacity .3s ease;
    -webkit-transition: transform .4s ease, left .3s ease, height .3s ease, opacity .3s ease;
}
.search__btn:after{
    left: 15px;
}
.search:hover .search__btn:before,
.search:hover .search__btn:after{
    left: 10px;
    height: 17px;
    opacity: 1;
}
.search:hover .search__btn:before{
    transform: rotate(-45deg);
}
.search:hover .search__btn:after{
    transform: rotate(45deg);
}
.search__frame{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 6px 13px 9px;
    background-color: #919aa4;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: opacity.3s ease, visibility .3s ease;
    -webkit-transition: opacity.3s ease, visibility .3s ease;
}
.search:hover .search__frame{
    opacity: 1;
    visibility: visible;
}
.search__frame input{
    height: 29px;
    width: 100%;
    padding: 0 30px 0 5px;
    border: 1px solid #7d8d96;
    border-radius: 2px;
    font: 10px 'helvetica-regular', sans-serif;
}
.search__frame button{
    position: absolute;
    top: 6px;
    right: 15px;
    width: 20px;
    height: 29px;
    border: none;
    background: url("../img/icon-search-black.png") no-repeat 0 5px/17px 18px;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.search__frame button:hover{

}
/* --------------- /search --------------- */

/* --------------- tabs --------------- */
.tabs{
    margin-bottom: 10px;
    border-top: 1px solid #b5b9c7;
    border-bottom: 1px solid #b5b9c7;
    white-space: nowrap;
}
.tabs a{
    display: inline-block;
    position: relative;
    margin: 0 11px;
    padding: 10px 0 8px;
    font-size: 12px;
    color: #6a828a;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
}
.tabs a:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color .3s ease;
    -webkit-transition: border-bottom-color .3s ease;
}
.tabs a:hover,
.tabs .active{
    color: #dc2d26;
}
.tabs a:hover:after,
.tabs .active:after{
    border-bottom-color: #dc2d26;
}
/* --------------- /tabs --------------- */

/* ------------ social ------------ */
.social{
    padding: 15px 0;
    text-align: center;
}
.social a{
    position: static!important;
    display: inline-block!important;
    width: 27px!important;
    height: 30px!important;
    background: url("../img/icons-social.png") no-repeat 0 0;
    background-size: 55px;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.social a:after{
    display: none;
}
.social a:hover{
    opacity: .5;
}
.social .fb{
    background-position: -27px 0;
}
.social .gg{
    background-position: 0 -29px;
}
.social .tw{
    background-position: -29px -29px;
}
/* ------------ /social ------------ */

/* ------------ social-2 ------------ */
.social-2 {
    text-align: justify;
    padding: 13px 27px 0 21px;
    margin-bottom: -3px;
}
.social-2:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.social-2 a {
    display: inline-block;
    vertical-align: top;
    width: 29px;
    height: 29px;
    background-size: contain !important;
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.social-2 a:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.social-2 a.social-2__g {background: url("../img/social-2__g.png");}
.social-2 a.social-2__fb {background: url("../img/social-2__fb.png")}
.social-2 a.social-2__tw {background: url("../img/social-2__tw.png")}
.social-2 a.social-2__pi {background: url("../img/social-2__p.png")}
/* ------------ /social-2 ------------ */

/*--------------pagination--------------*/
.pagination {
    text-align: justify;
    width: 316px;
    margin: 0 auto 20px;
}
.pagination:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.pagination li {
    display: inline-block;
    vertical-align: top;
}
.pagination li a {
    font-size: 21px;
    line-height: 33px;
    font-family: 'helvetica-light', sans-serif;
    color: #9096a5;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.pagination li a:hover {
    color: #0098ff;
}
.pagination li a.active {
    position: relative;
    top: -1px;
    font-size: 22px;
    color: #0098ff;
    font-family: 'helvetica-medium', sans-serif;
}
.pagination__prev,
.pagination__next {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 34px;
    border: 1px solid #0098ff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: url(../img/blue-arrow.png) center no-repeat;
    background-size: 9px 15px;
    -webkit-transition: transform .3s ease-in-out !important;
    transition: transform .3s ease-in-out !important;
}
.pagination__next {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.pagination__prev:hover {
    -webkit-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
}
.pagination__next:hover {
    -webkit-transform: translateX(3px) rotate(180deg);
    -ms-transform: translateX(3px) rotate(180deg);
    transform: translateX(3px) rotate(180deg);
}
/*--------------/pagination--------------*/

/* ------------ allowed-games ------------ */
.allowed-games {
    text-align: center;
    /*max-width: 384px;*/
}
.allowed-games span {
    width: 80px;
    height: 86px;
    position: relative;
    padding-top: 74px;
    display: inline-block;
    vertical-align: top;
    color: #babecb;
    font-size: 12px;
    margin: 0 4px 18px;
}
.allowed-games span.active {
    color: #0098ff;
}
.allowed-games span:before {
    content: '';
    position: absolute;
    background: url("../img/allowed-games.png") no-repeat;
    background-size: 256px 390px;
    color: #babecb;
    font-size: 12px;
    width: 65px;
    height: 64px;
    top: 0;
    left: 50%;
    margin-left: -32px;
}
.allowed-games span.allowed-games__slots:before {background-position: 0 -197px;}
.allowed-games span.allowed-games__poker:before {background-position: -64px -197px;}
.allowed-games span.allowed-games__table:before {background-position: -130px -197px;}
.allowed-games span.allowed-games__bj:before {background-position: -195px -197px;}
.allowed-games span.allowed-games__roulette:before {background-position: 0 -261px;}
.allowed-games span.allowed-games__craps:before {background-position: -64px -261px;}
.allowed-games span.allowed-games__lottery:before {background-position: -130px -261px;}
.allowed-games span.allowed-games__bacaraut:before {background-position: -195px -261px;}
.allowed-games span.allowed-games__scrathc:before {background-position: 0 -326px;}
.allowed-games span.allowed-games__bingo:before {background-position: -64px -326px;}
.allowed-games span.allowed-games__vslots:before {background-position: -130px -326px;}
.allowed-games span.allowed-games__vgames:before {background-position: -195px -326px;}

.allowed-games span.allowed-games__slots.active:before {background-position: 0 1px;}
.allowed-games span.allowed-games__poker.active:before {background-position: -64px 1px;}
.allowed-games span.allowed-games__table.active:before {background-position: -130px 1px;}
.allowed-games span.allowed-games__bj.active:before {background-position: -195px 1px;}
.allowed-games span.allowed-games__roulette.active:before {background-position: 0 -63px;}
.allowed-games span.allowed-games__craps.active:before {background-position: -64px -63px;}
.allowed-games span.allowed-games__lottery.active:before {background-position: -130px -63px;}
.allowed-games span.allowed-games__bacaraut.active:before {background-position: -195px -63px;}
.allowed-games span.allowed-games__scrathc.active:before {background-position: 0 -128px;}
.allowed-games span.allowed-games__bingo.active:before {background-position: -64px -128px;}
.allowed-games span.allowed-games__vslots.active:before {background-position: -130px -128px;}
.allowed-games span.allowed-games__vgames.active:before {background-position: -195px -128px;}
/* ------------ /allowed-games ------------ */

/*--------------warning--------------*/
.warning-title{
    font-family: 'helvetica-light', sans-serif;
    color:#dc2d26;
    font-size: 15px;
    text-align: center;
    padding: 10px 0 17px 0;
}
.warning .site__caption{
    font-family: 'helvetica-bold', sans-serif;
    color:#dc2d26;
    font-size: 13px;
    margin-bottom: 5px;
    border-bottom: 2px dotted #e9e8e8;
    border-top: 2px dotted #e9e8e8;
    padding: 12px 0;
}
.warning .site__caption:before{
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    border-radius: 2px;
    border: none;
    width:25px;
    height:25px;
    background: #c1140e url("../img/warning-icon.png")no-repeat center;
    background-size: 3.5px 21.5px;
}
.warning .site__caption:after{
    content: "";
    position: absolute;
    border-radius: 2px;
    width:25px;
    right: 0;
    top: 6px;
    border: none;
    left: inherit;
    height:25px;
    background: #c1140e url("../img/warning-icon.png")no-repeat center;
    background-size: 3.5px 21.5px;
}
.warning__software__title{
    font-family: 'helvetica-light', sans-serif;
    font-size: 13.5px;
    display: inline-block;
    border-bottom: 2px dotted #e9e8e8;
    margin-bottom: 13px;
    padding-bottom: 10px;

}
.warning__software__title span{
    color:#6a828a;
    padding-left: 11px;
}
.warning__pic{
    float:left;
    width: 145px;
    height: 117px;
    border: 1px solid #e9e8e8;
    padding: 16px 25px 14px 25px;
    margin: 0 10px 4px 0;
    border-radius: 4px;
}
.warning__pic img{
    width: 100%;
    height: 100%;
}
.warning .warning__software p{
    font-family: 'helvetica-light', sans-serif;
    color:#6a828a;
    font-size: 12px;
    line-height: 14px;
    border-bottom: 2px dotted #e9e8e8;
    margin-bottom: 10px;
    padding-bottom: 14px;
    letter-spacing: 0.1px;
}
.warning .warning__software p:last-child{
    border-bottom: none;
    margin-top: 0;
    padding-top: 0;
}
.warning__software>p>span{
    font-family: 'helvetica-medium', sans-serif;
    color:#2d3e50;
    padding-right: 5px;
}
.warning__software>p>a {
    font-family: 'helvetica-medium', sans-serif;
    color: #c1140e;
}
.warning__software>p>a:hover{
    color: #2d3e50;
}
.warning__casinos{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.warning__item{
    position: relative;
    width: 225px;
    height: 275px;
    display: inline-block;
    margin: 0 7px 10px 7px;
    vertical-align: top;
    padding: 14px 22px 22px 22px;
    border: 1px solid #e9e8e8;
    box-shadow: 5px 5px 23px #e9e8e8;
}
.warning__item__pic div{
    height:90px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.warning__item .btn_play {
    background: #dc2d26;
    float: none;
    margin-right: 0;
}
.warning__item .btn_play:hover {
    background: #f17b76;
}
.warning__item__pic{
    height: 143px;
    border: 1px solid #e9e8e8;
    background: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 29px 11px 21px 20px;
    margin-bottom: 10px;
}
.warning__item .mama-metr {
    width: 100%;
    padding: 0 24px;
    position: relative;
    display: block;
    margin: 12px 0;
    top: 0;
}
.warning__item .mama-metr__value > .red:before {
    background:none;
}
/*--------------/warning--------------*/

/*-------------- nice-checkbox --------------*/
.nice-checkbox {
    text-align: left;
    margin: 0 0 17px;
}
.nice-checkbox input[type='checkbox']:not(checked) {
    position: absolute;
    opacity: 0;
}
.nice-checkbox input {
    width: 16px;
    cursor: pointer;
}
.nice-checkbox input[type='checkbox']:not(checked) + label {
    display: inline-block;
    position: relative;
    padding: 0 0 0 18px;
    width: auto;
    top: auto;
    font-size: 10px;
    line-height: 14px;
    color: #6a828a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "helvetica-light", sans-serif;
}
.nice-checkbox input[type='checkbox']:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #fff;
    border: 2px solid #dbdbdb;
}
.nice-checkbox input[type='checkbox']:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 12px;
    height: 7px;
    background: url(../img/check-icon.png) no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.nice-checkbox input[type='checkbox']:checked + label:after {
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*-------------- /nice-checkbox --------------*/

@media (min-width: 768px){
    /* ------------ btn ------------ */
    .btn{
        height: 35px;
        width: 132px;
        font-size: 14px;
    }
    .btn_play:after{
        position: relative;
        top: 1px;
        right: auto;
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-left: 4px;
    }
    .btn_home {
        width: 159px;
        left: 50%;
        margin-left: -80px;
        top: auto;
        padding-top: 10px;
        bottom: 14px;
        height: 40px;
    }
    .btn_home span:before {
        width: 24px;
        height: 21px;
        top: -2px;
        left: 0;
    }
    .btn_home span {
        font-size: 20px;
        padding-left: 31px;
    }
    /* ------------ /btn ------------ */

    /* --------------- site --------------- */
    .site__header {
        height: 53px;
    }
    .site:after{
        height: 280px;
    }
    .site__caption{
        padding: 13px 0 12px;
        font-size: 16px;
        letter-spacing: 0;
    }
    .site__footer,
    .site__footer-layout {
        height: 280px;
    }
    .site__footer-layout {
        padding-top: 53px;
    }
    .site__footer-layout li a{
        font-size: 30px;
    }
    .site__footer-logo{
        display: block;
        bottom: 28px;
        left: 16px;
    }
    .site__footer-menu {
        display: inline-block;
        margin-left: 316px;
        vertical-align: top;
    }
    .site__footer-layout li {
        margin-bottom: 18px;
    }
    .site__content-layout {
        padding-left: 18px;
        padding-right: 13px;
    }
    .site__content-item{
        padding-top: 12px;
    }
    .site__content-head{
        margin: 0 -5px 20px -4px;
        padding-left: 26px;
        font-size: 24px;
        letter-spacing: 0.3px;
    }
    .site__content-head time{
        width: 90px;
        padding-top: 14px;
        padding-left: 12px;
        font-size: 25px;
        text-align: left;
    }
    .site__content-head time > span{
        font-family: "helvetica-regular", sans-serif;
    }
    .site__content-head time .month{
        position: absolute;
        top: 14px;
        left: 47px;
        font-size: 13px;
        text-transform: uppercase;
    }
    .site__content-head time .year {
        position: absolute;
        top: 30px;
        left: 45px;
        font-size: 13px;
    }
    .site__content-head:before{
        border-width: 4px 0 0 4px;
    }
    .site__content-head:after{
        border-width: 4px 4px 0 0;
    }
    .site__content-item_contacts {
        margin-bottom: 223px;
    }
    .site__caption:after,
    .site__caption:before {
        left: -19px;
        right: -19px;
    }
    .site__form input,
    .site__form textarea {
        border: 2px solid #a5b0b4;
        height: 44px;
        margin-bottom: 11px;
        font-size: 16px;
    }
    .site__form textarea {
        height: 129px;
    }
    .site__form .btn_review {
        height: 35px;
        width: 181px;
        font-size: 14px;
        margin-top: -3px;
    }
    .site__hot span {
        font-size: 24px;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo {
        height: 55px;
        margin-left: -224px;
        padding-top: 2px;
        padding-left: 97px;
    }
    .logo:before {
        width: 105px;
        height: 48px;
        background-position: 0 -8px;
        background-size: 105px 71px;
    }
    /* --------------- /logo --------------- */

    /* --------------- menu --------------- */
    .menu{
        height: 48px;
    }
    .menu__btn{
        top: 8px;
        left: 15px;
        height: 40px;
        width: 49px;
        padding: 0 13px 5px;
    }
    .menu__btn > span,
    .menu__btn > span:before,
    .menu__btn > span:after{
        height: 3px;
    }
    .menu__wrap{
        left: 15px;
        width: 155px;
        padding-top: 21px;
    }
    .menu__wrap a{
        height: 26px;
        padding-top: 9px;
    }
    .menu__aside dt{
        margin-bottom: 5px;
        padding-top: 2px;
        font-size: 14px;
    }
    .menu__home{
        position: absolute;
        top: 7px;
        left: 81px;
        vertical-align: middle;
        width: 47px;
        height: 42px;
        margin-right: 15px;
        border-radius: 5px 5px 0 0;
        background: url("../img/icon-home.png") no-repeat 50% 7px/22px;
        transition: background-color .3s ease;
        -webkit-transition: background-color .3s ease;
    }
    .menu__home:hover{
        background-color:  #0098ff;
    }
    /* --------------- /menu --------------- */

    /* --------------- search --------------- */
    .search{
        width: 215px;
    }
    .search:before,
    .search__btn{
        display: none;
    }
    .search__frame{
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        padding: 5px 13px 9px 18px;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
    }
    .search__frame input{
        height: 36px;
        font-size: 12px;
    }
    .search__frame button {
        top: 5px;
        right: 19px;
        width: 23px;
        height: 34px;
        background-size: 20px 21px;
        background-position: 3px 8px;
    }
    /* --------------- /search --------------- */

    /* --------------- tabs --------------- */
    .tabs{
        margin-bottom: 11px;
    }
    .tabs a{
        margin: 0 18px 0 0;
        padding: 11px 6px 9px;
        font-size: 16px;
    }
    /* --------------- /tabs --------------- */

    /* --------------- mama-metr --------------- */
    .mama-metr{
        display: block;
        top: 89px;
        right: 31px;
        width: 145px;
    }
    .mama-metr,
    .mama-metr__value,
    .mama-metr__value > div{
        position: absolute;
        text-align: center;
    }
    .mama-metr__frame{
        position: relative;
        width: 100%;
        height: 17px;
        border: 1px solid #dcdfe8;
        background-color: #f8f8f8;
        border-radius: 3px;
    }
    .mama-metr__value,
    .mama-metr__value > div{
        height: 14px;
        background-size: 14px 12px;
        background-position: center left;
        background-repeat: repeat-x;
    }
    .mama-metr__value{
        left: 2px;
        right: 2px;
        background-image: url("../img/whitepoint.png");
    }
    .mama-metr__value > div{
        top: 0;
        left: 0;
        z-index: 1;
    }
    .mama-metr__value > div:before{
        content: '';
        position: absolute;
        top: -84px;
        left: 0;
        width: 145px;
        height: 91px;
        background: url("../img/mamametr.png") no-repeat 50% 100%;
    }
    .mama-metr__value .grey{
        background-image: url("../img/greypoint.png");
    }
    .mama-metr__value .blue{
        background-image: url("../img/bluepoint.png");
    }
    .mama-metr__value > .blue:before{
        background-image: url("../img/mamametr-blue.png");
    }
    .mama-metr__value .red{
        background-image: url("../img/redpoint.png");
    }
    .mama-metr__value > .red:before{
        background-image: url("../img/mamametr-red.png");
    }
    .mama-metr__name{
        display: block;
        font-size: 13px;
    }
    .mama-metr__number{
        position: relative;
        top: -2px;
        display: inline-block;
        margin-bottom: 2px;
        padding: 2px 7px 1px;
        border: 1px solid #dcdfe8;
        border-top: none;
        border-radius: 0 0 3px 3px;
        font-size: 12px;
        background-color: #f8f8f8;
        z-index: 2;
    }
    /* --------------- /mama-metr --------------- */

    /* --------------- game-item --------------- */
    .game-item__image{
        width: 112px;
        height: 83px;
        margin-right: 14px;
    }
    .game-item dl{
        width: 290px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .game-item dt{
        width: 147px;
    }
    dt.game-item__clicks{
        top: 0;
        width: auto;
        font-size: 14px;
    }
    dd.game-item__clicks-num{
        top: 0;
        padding-left: 31px;
        font-size: 14px;
    }
    dd.game-item__clicks-num:before{
        top: -4px;
        left: 4px;
        width: 19px;
        height: 22px;
    }
    .game-item > span{
        font-size: 17px;
    }
    .game-item .game-item__code{
        margin-left: -108px;
        margin-bottom: 11px;
        padding: 7px;
        font-size: 17px;
        letter-spacing: -0.4px;
    }
    .game-item__note{
        margin-right: 19px;
        margin-bottom: 18px;
        padding: 11px 4px 10px 15px;
        font-size: 12px;
        line-height: 18px;
    }
    .game-item__valid{
        margin-bottom: 14px;
        padding-right: 6px;
    }
    .game-item__valid > span{
        padding-top: 10px;
        padding-left: 8px;
        font-size: 17px;
    }
    .game-item .game-item__status{
        margin-left: 6px;
        font-size: 15px;
    }
    .game-item__button{
        width: auto;
        float: right;
    }
    .game-item__button > a{
        margin-left: 20px;
    }
    .game-item__review{
        margin-right: 19px;
        padding-top: 8px;
    }
    .game-item__number{
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px;
        padding-top: 9px;
    }
    .game-item__number > span:before{
        left: -34px;
        top: -4px;
        height: 22px;
        width: 23px;
        background-size: 24px;
    }
    /* --------------- /game-item --------------- */

    /* ------------ estimate ------------ */
    .estimate{
        width: 84px;
        height: 39px;
        margin-left: 12px;
        border-width: 2px;
    }
    .estimate > button,
    .estimate > button:after{
        background-size: 23px;
    }
    .estimate span{
        position: absolute;
        top: 9px;
        left: 90px;
        display: block;
        width: 100px;
        font-size: 14px;
        color: #6a828a;
    }
    /* ------------ /estimate ------------ */

    /* ------------ social-2 ------------ */
    .social-2 {
        padding: 18px 59px 0 61px;
    }
    .social-2:after {}
    .social-2 a {
        width: 33px;
        height: 33px;
    }
    /* ------------ /social-2 ------------ */

    /*-------------- nice-checkbox --------------*/
    .nice-checkbox {
        margin: 0 0 21px;
    }
    .nice-checkbox input[type='checkbox']:not(checked) + label {
        padding: 0 0 0 24px;
        font-size: 14px;
        line-height: 14px;
    }
    .nice-checkbox input[type='checkbox']:not(checked) + label:before {
        top: 0;
        left: 0;
        width: 9px;
        height: 9px;
    }
    .nice-checkbox input[type='checkbox']:not(checked) + label:after {
        top: 1px;
        left: 5px;
        width: 13px;
        height: 8px;
    }
    /*-------------- /nice-checkbox --------------*/

    /*--------------pagination--------------*/
    .pagination {
        text-align: center;
        padding: 0 18px 0 0;
        margin-bottom: 21px;
        width: auto;
    }
    .pagination li a {
        font-size: 18px;
    }
    .pagination li a:hover {
        color: #0098ff;
    }
    .pagination li a.active {
        font-size: 19px;
    }
    .pagination__prev,
    .pagination__next {
        left: -4px;
        width: 29px;
        height: 29px;
    }
    .pagination__next {
        left: 4px;
    }
    /*--------------/pagination--------------*/

    /*-------------- warning --------------*/
    .warning .site__caption {
        font-size: 20px;
    }
    .warning-title {
        font-size: 23.5px;
    }
    .warning .site__caption:before,
    .warning .site__caption:after {
        border-radius: 4px;
        width: 32px;
        top: 5px;
        height: 34px;
    }
    .warning .site__caption {
        margin-bottom: 14px;
    }
    .warning-title {
        padding: 10px 0 36px 0;
    }
    .warning .warning__software p:last-child,
    .warning .warning__software p {
        letter-spacing: 0.9px;
        border-top: 2px dotted #e9e8e8;
        margin-left: 196px;
        margin-bottom: 0;
        border-bottom: none;
        padding-top: 9px;
        line-height: 16px;
        padding-bottom: 11px;
    }
    .warning .warning__software p:first-child{
        padding-top: 19px;

    }
    .warning .warning__software p:last-child {
        margin-bottom: 10px;
    }
    .warning__software__title {
        margin-left: 7px;
        border-bottom: none;
        margin-bottom: 10px;
    }
    .warning__pic {
        width: 179px;
        height: 143px;
        padding: 18px 34px 14px 31px;
        margin: 0 10px 4px 0;
    }
    .warning__software__title span {
        padding-left: 19px;
    }
    .warning__item {
        width: 227px;
        margin: 0 5px 10px 5px;
    }
    .warning .site__content-head {
        margin: 0 -5px 13px -4px;
    }

    .warning__item .mama-metr {
        width: 187px;
        padding: 0 0 0 56px;
    }
    /*-------------- /warning --------------*/
}

@media (min-width: 950px){

    /* ------------ btn ------------ */
    .btn_home {
        width: 189px;
        margin-left: -95px;
        padding-top: 12px;
        bottom: 13px;
        height: 47px;
    }
    .btn_home span:before {
        width: 31px;
        height: 27px;
        top: -2px;
    }
    .btn_home span {
        font-size: 25px;
        padding-left: 37px;
    }
    /* ------------ /btn ------------ */

    /* --------------- site --------------- */
    .site__header{
        height: 61px;
        border-bottom-width: 3px;
    }
    .site__content-layout{
        margin-left: 206px;
        padding-top: 23px;
        padding-bottom: 1px;
    }
    .site__caption:after,
    .site__caption:before {
        left: -6px;
        right: -3px;
    }
    .site__content-item{
        margin-left: 5px;
        margin-right: 0;
        margin-bottom: 21px;
    }
    .site__aside{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: block;
        width: 208px;
        padding-top: 158px;
        box-shadow: 0 0 7px #ccc;
        background-color: #fff;
    }
    .site__caption {
        margin-bottom: 18px;
        padding: 14px 0 14px;
        font-size: 21px;
    }
    .site:after{
        height: 186px;
    }
    .site__footer,
    .site__footer-layout {
        height: 186px;
    }
    .site__footer-layout {
        padding-top: 34px;
    }
    .site__footer-popular{
        display: inline-block;
        vertical-align: top;
        margin-left: 103px;
    }
    .site__footer-super{
        display: inline-block;
        vertical-align: top;
        margin-left: 107px;
    }
    .site__footer-super>h2{
        color:#dc2d26;
    }
    .site__footer-layout li a{
        font-size: 14px;
    }
    .site__footer-layout li{
        margin-bottom: 8px;
    }
    .site__footer-layout h2{
        margin-bottom: 15px;
        font-size: 16px;
    }
    .site__footer-menu>h2{
        display: block;
        font-size: 16px;
    }
    .site__footer-logo{
        width: 136px;
        height: 123px;
        bottom: 36px;
        left: 48px;
    }
    .site__footer-menu {
        margin-left: 256px;
        text-align: left;
    }
    .site__caption_game {
        display: block;
    }
    .site__caption-btns {
        position: absolute;
        display: block;
        width: 85px;
        height: 34px;
        top: 7px;
        right: -3px;
    }
    .site__caption-btns button {
        width: 34px;
        height: 34px;
        border-radius: 2px;
        margin-left: 3px;
        border: none;
        padding: 0;
        text-indent: 100%;
        overflow: hidden;
        opacity: 1;
        -webkit-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
    }
    .site__caption-btns button:hover {
        opacity: .8;
    }
    .site__caption-btns-resize {
        background: #0098ff url(../img/resize-icon.png) center no-repeat;
        background-size: 28px;
    }
    .site__caption-btns-refresh {
        background: #0098ff url(../img/refresh-icon.png) center no-repeat;
        background-size: 25px 24px;
    }
    .site__content-layout_404 {
        padding-left: 0;
        padding-right: 0;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo{
        position: absolute;
        top: 17px;
        left: 0;
        margin: 0;
        padding: 0;
    }
    .logo:before{
        width: 208px;
        height: 182px;
        background: url("../img/logo-big.png") no-repeat 6px 4px/194px 178px;
    }
    .logo img{
        display: none;
    }
    /* --------------- /logo --------------- */

    /* --------------- menu --------------- */
    .menu{
        margin-top: 6px;
        margin-left: 210px;
    }
    .menu__btn{
        display: none;
    }
    .menu__wrap{
        display: inline-block;
        vertical-align: top;
        position: static;
        width: auto;
        padding-top: 0;
        background: transparent;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
    }
    .menu__wrap > a{
        display: inline-block;
        padding-top: 19px;
        padding-left: 0;
        font-size: 18px;
        margin-right: 27px;
        color: #0098ff;
        transition: color .3s ease;
        -webkit-transition: color .3s ease;
    }
    .menu__wrap a:hover{
        color: #f8f3f1;
    }
    .menu__wrap > a:after{
        display: none;
    }
    .menu__wrap .menu__aside{
        display: none;
    }
    .menu__aside dt{
        height: 34px;
        margin-bottom: 9px;
        padding-top: 8px;
        font-size: 18px;
    }
    .menu__wrap dd a,
    .menu__aside dd > a {
        display: block;
        height: 29px;
        font-size: 15px;
        padding-top: 9px;
        padding-left: 16px;
    }
    .menu__aside ul{
        padding: 5px 0;
    }
    .menu__aside li a,
    .menu__wrap li a{
        height: 27px;
        font-size: 13px;
        padding-left: 33px;
    }
    .menu__aside .btn_aside{
        height: 33px;
        margin-top: 15px;
        padding-top: 9px;
        padding-left: 0;
        font-size: 15px;
    }
    .menu__aside .btn_aside:after{
        display: none;
    }
    .menu__home{
        position: static;
        display: inline-block;
        width: 61px;
        height: 53px;
        background-size: auto;
        vertical-align: middle;
    }
    /* --------------- /menu --------------- */

    /* --------------- tabs --------------- */
    .tabs {
        margin-bottom: 16px;
    }
    .tabs a{
        margin-right: 14px;
        padding-bottom: 8px;
    }
    /* --------------- /tabs --------------- */

    /* --------------- game-item --------------- */
    .game-item dl{
        margin-bottom: 2px;
    }
    .game-item__valid > span{
        padding-top: 7px;
    }
    dd.game-item__clicks-num{
        margin-left: 6px;
    }
    /* --------------- /game-item --------------- */

    /* --------------- warning --------------- */
    .warning__pic {
        width: 182px;
        height: 147px;
    }
    .warning__item {
        width: 222px;
        padding: 13px 21px 22px 21px;
    }
    .warning__item .mama-metr {
        width: 185px;
        padding: 0 11px 0 42px;
    }
    .warning .warning__software p:last-child, .warning .warning__software p {
        letter-spacing: 0.2px;
        margin-left: 198px;
        line-height: 17px;
        font-size: 14px;
        padding-bottom: 7px;
    }
    /* --------------- /warning --------------- */

    /* --------------- search --------------- */
    .search__frame{
        padding: 13px 0 9px 53px;
    }
    .search__frame button {
        top: 11px;
        right: 3px;
        width: 29px;
        height: 32px;
        background-size: 22px 23px;
    }
    /* --------------- /search --------------- */

    /* --------------- mama-metr --------------- */
    .mama-metr{
        right: 20px;
    }
    .mama-metr__name{
        font-size: 11px;
    }
    .mama-metr__number{
        margin-bottom: 0;
        padding: 2px 10px 1px;
        font-size: 10px;
    }
    .mama-metr__number b{
        font-size: 12px;
    }
    /* --------------- /mama-metr --------------- */


    /* ------------ social ------------ */
    .social{
        position: relative;
        width: 188px;
        height: 188px;
        margin: 40px auto 30px;
        background: url("../img/bg-social.png") no-repeat 0 0;
    }
    .menu__aside .social a{
        position: absolute!important;
        top: 50px;
        left: 53px;
        display: block!important;
        width: 36px!important;
        height: 47px!important;
        background: url("../img/icons-social.png") no-repeat 0 0;
        transition: opacity .3s ease;
        -webkit-transition: opacity .3s ease;
    }
    .menu__aside .social a:hover{
        opacity: .5;
    }
    .menu__aside .social a.fb{
        top: 50px;
        left: 98px;
        background-position: -45px 0;
    }
    .menu__aside .social a.gg{
        top: 95px;
        left: 53px;
        background-position: 0 -45px;
    }
    .menu__aside .social a.tw{
        top: 95px;
        left: 98px;
        background-position: -45px -45px;
    }
    /* ------------ /social ------------ */
}
