@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #ccc;
}
:-moz-placeholder {
    color: #ccc;
}
.placeholder {
    color: #ccc;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "helvetica-regular";
    src: url("../fonts/HelveticaRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-bold";
    src: url("../fonts/HelveticaBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-medium";
    src: url("../fonts/HelveticaMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    font-family: 'helvetica-regular', sans-serif;
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;

    height: 100px;
}
.site__content {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    z-index: 2;
}
.site__content h2{
    font-size: 16px;
    color: #6a828a;
    text-align: center;
    border: 1px dashed #6a828a;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    padding: 10px 0;
}
.site__content-layout{
    overflow: hidden;
}
.site__content-layout:after{
    content: '';
    display: block;
    clear: both;
}
.site__aside{
    display: none;
}
.site__header {
    position: relative;
    height: 45px;
    margin-bottom: 13px;
    border-bottom: 5px solid #0098ff;
    background-color: #2d3e50;
    box-shadow: 0 0 10px #777;
    z-index: 3;
}
.site__header-layout{
    position: relative;
    max-width: 960px;
    height: inherit;
    margin: 0 auto;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 153px;
    box-shadow: 0 -13px 30px #eaeaea;
}
.site__footer-layout {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: inherit;
    background-color: #fff;
    padding-top: 15px;
}
.site__footer-menu{
    text-align: center;
}
.site__footer-menu>h2{
    display: none;
}
.site__footer-layout li a{
    font-size: 18px;
    color: #6a828a;
}
.site__footer-layout li{
    margin-bottom: 15px;
}
.site__footer-layout li a:hover{
    color:#0098ff;
}
.site__footer-popular{
    display: none;
}
.site__footer-super{
    display: none;
}
.site__footer-logo{
    display: none;
    position: absolute;
    bottom: 32px;
    left: 0;
}
.site__footer-logo img{
    width: 100%;
    height: 100%;
}
/* --------------- /site --------------- */

/* --------------- casino-bonus --------------- */
.casino-bonus{

}
.casino-bonus__item{
    padding: 3px;
 }
.casino-bonus__game{
    overflow: hidden;
}
.casino-bonus__head{
    background: #dcdfe8;
    position: relative;
    text-shadow: 1px 1px 0 #fff;
}
.casino-bonus__title{
    color: #0098ff;
    font-size: 14px;
    padding: 16px 0 15px 2px;
    font-family: "helvetica-medium", sans-serif;
}
.casino-bonus__date{
    color: #8fa0a5;
    border-left: 1px dashed #8fa0a5;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    height: 100%;
    width: 42px;
    font-family: "helvetica-bold", sans-serif;
}
.casino-bonus__date span{
    display: block;
}
.casino-bonus__date .month{
    font-size: 14px;
    text-transform: lowercase;
    margin-bottom: 1px;
}
.casino-bonus__date .day{
    font-size: 15px;
    margin-bottom: 1px;
}
.casino-bonus__date .year{
    font-size: 10px;
}
.casino-bonus_image{
    width: 96px;
    float: left;
    margin-top: 23px;
    margin-left: -13px;
    margin-right: 2px;
}
.casino-bonus_game{
    position: relative;
}
.casino-bonus__game dl{
    overflow: hidden;
    padding-top: 14px;
    font-size: 10px;
    position: relative;
    left: -4px;
    width: 229px;
    display: inline-block;
    font-family: "helvetica-regular", sans-serif;
    margin-bottom: 2px;
}
.casino-bonus__game dl dt{
    width: 121px;
    display: inline-block;
    color: #000;
    margin-right: 13px;
}
.casino-bonus__game dl dd{
    display: inline-block;
    color: #6a828a;
    margin-bottom: 6px;
}
.casino-bonus__game .casino-bonus-code{
    font-size: 14px;
    border: 2px dashed #dcdfe8;
    background: #f8f8f8;
    margin-bottom: 20px;
    padding: 4px;
    color: #000;
    position: relative;
    margin-left: -97px;
    top: 1px;
    font-family: "helvetica-bold", sans-serif;
    letter-spacing: -0.7px;
}
.casino-bonus__game p{
    color: #6a828a;
    background-color: #f8f8f8;
    font-size: 10px;
    padding: 9px;
    padding-top: 5px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 9px;
    word-spacing: 0.7px;
    line-height: 12px;
    padding-bottom: 6px;
    margin-bottom: 7px;
}
.casino-bonus__game>span{
    font-size: 13px;
    margin-left: 20px;
    display: inline-block;
}
.casino-bonus__game .casino-bonus-status{
    color: #0098ff;
    margin-left: 7px;
    font-size: 13px;
    margin-bottom: 14px;
}
.casino-bonus-button{
    display: inline-block;
    width: 100%;
    padding-left: 19px;
    border-bottom: 1px dashed #6a828a;
    padding-bottom: 11px;
    margin-bottom: 16px;
}
.casino-bonus-like{
    position: relative;
    border: 3px solid #b5b9c7;
    display: inline-block;
    border-radius: 4px;
    width: 110px;
    height: 48px;
    margin-bottom: 200px;
    margin-left: 19px;
    float: left;
}
.casino-bonus-like button{
    border: none;
    height: 100%;
    border-radius: 8px;
    background: #fff;
    z-index: 0;
    padding: 0;
    width: 44%;
}
.casino-bonus-like .like{
    background-image: url("../img/like.png");
    background-size: 31px;
    background-repeat: no-repeat;
    background-position: 8px 2px;
    border-right: 3px solid #b5b9c7;
    border-radius: 0;
    width: 52%;
    position: relative;
}
.casino-bonus-like .like:after{
    content: "";
    position: absolute;
    top: 4px;
    left: 9px;
    background-size: 28px 30px;
    width: 31px;
    height: 32px;
    background-image: url("../img/like-hower.png");
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.casino-bonus-like .dislike{
    background-image: url("../img/dislike.png");
    background-size: 31px;
    background-repeat: no-repeat;
    background-position: 11px 6px;
    width: 47%;
    margin-left: -5px;
}
.casino-bonus-like .dislike:after{
    content: "";
    position: absolute;
    top: 8px;
    right: 6px;
    background-size: 28px 30px;
    width: 31px;
    height: 32px;
    background-image: url("../img/dislike-hower.png");
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.casino-bonus-like .like:hover:after{
     opacity: 1;
     -webkit-transition: opacity 0.3s ease;
     transition: opacity 0.3s ease;
 }
.casino-bonus-like .dislike:hover:after{
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.casino-bonus-review{
    float: right;
    font-family: "helvetica-regular", sans-serif;
    position: relative;
    top: -6px;
    font-size: 13px;
}
.casino-bonus-review-number{
    padding-left: 41px;
    margin-bottom: 12px;
    margin-right: 18px;
}
.casino-bonus-review-number>span{
    position: relative;
    margin-right: 3px;
    color: #6a828a;
}
.casino-bonus-review-number>span:before{
    content: '';
    position: absolute;
    left: -28px;
    top: -2px;
    background-image: url("../img/comments.png");
    height: 20px;
    width: 20px;
    background-size: 21px;
    background-repeat: no-repeat;
}
/* --------------- /casino-bonus --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    height: 45px;
    margin-left: -112px;
    padding-top: 9px;
    padding-left: 62px;
}
.logo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 40px;
    background: url("../img/bg-header.png") no-repeat 0 -2px/63px 46px;
}
.logo img{
    height: 100%;
}
/* --------------- /logo --------------- */

/* --------------- btn --------------- */
.btn{
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    background: #b5b9c7;
    border-radius: 4px;
    width: 125px;
    display: inline-block;
    height: 33px;
    text-align: center;
    padding-top: 11px;
}
.btn_play{
    background: #dc2d26;
    float: right;
    margin-right: 14px;
}
.btn_play:after{
    content: " >>";
}
.btn:hover{
    background: #d9dce7;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.btn_play:hover{
    background: #f17b76;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.btn_review{
    background: #fff;
    color: #0098ff;
    border: 3px solid #0098ff;
    height: 29px;
    width: 112px;
    padding-top: 6px;
    position: relative;
    left: -3px;
}
.btn_review:hover{
    background: #94d0f9;
    color: #ffffff;
    -webkit-transition: background 0.3s ease, color 0.3s ease;
    transition: background 0.3s ease, color 0.3s ease;

}
/* --------------- /btn --------------- */

/* --------------- header__menu --------------- */
.menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
}
.menu__wrap{
    position: absolute;
    top: 100%;
    width: 133px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    box-shadow: 1px 1px 1px #ccc;
}
.menu.active .menu__wrap{
    opacity: 1;
    visibility: visible;
}
.menu.active .menu__btn{
    background: #0098ff;
}
.menu__btn {
    position: absolute;
    top: 6px;
    left: 0;
    width: 42px;
    height: 34px;
    padding: 0 11px 6px;
    border: none;
    border-radius: 2px 2px 0 0;
    background: none;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
}
.menu__btn > span,
.menu__btn > span:before,
.menu__btn > span:after{
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.menu__btn > span:before,
.menu__btn > span:after {
    content: '';
    position: absolute;
    left: 0;
}
.menu__btn > span:after {
    top: 230%;
}
.menu__btn > span:before {
    bottom: 240%;
}
.menu dl{

}
.menu dt{
    background-color: #0098ff;
}
/* --------------- header__menu --------------- */

/* --------------- search --------------- */
.search{
    float: right;
    width: 35px;
    height: 45px;
    cursor: pointer;
}
.search:before{
    content: '';
    display: block;
    margin-top: 12px;
    margin-left: 9px;
    width: 17px;
    height: 17px;
    background: url("../img/icon-search.png") no-repeat 0 0/17px 17px;
    opacity: 1;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease
}
.search:hover:before{
    opacity: 0;
}
.search__btn{
    position: relative;
    top: -16px;
    left: 9px;
    width: 16px;
    height: 17px;
}
.search__btn:before,
.search__btn:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    height: 14px;
    border-left: 3px solid #0098ff;
    border-radius: 10px;
    opacity: 0;
    transition: transform .4s ease, left .3s ease, height .3s ease, opacity .3s ease;
    -webkit-transition: transform .4s ease, left .3s ease, height .3s ease, opacity .3s ease;
}
.search__btn:after{
    left: 15px;
}
.search:hover .search__btn:before,
.search:hover .search__btn:after{
    left: 10px;
    height: 17px;
    opacity: 1;
}
.search:hover .search__btn:before{
    transform: rotate(-45deg);
}
.search:hover .search__btn:after{
    transform: rotate(45deg);
}
.search__frame{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 6px 13px 9px;
    background-color: #919aa4;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: opacity.3s ease, visibility .3s ease;
    -webkit-transition: opacity.3s ease, visibility .3s ease;
}
.search:hover .search__frame{
    opacity: 1;
    visibility: visible;
}
.search__frame input{
    height: 29px;
    width: 100%;
    padding: 0 25px 0 4px;
    border: 1px solid #7d8d96;
    border-radius: 2px;
    font: 10px 'helvetica-regular', sans-serif;
}
.search__frame button{
    position: absolute;
    top: 6px;
    right: 15px;
    width: 20px;
    height: 29px;
    border: none;
    background: url("../img/icon-search-black.png") no-repeat 0 5px/17px 18px;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.search__frame button:hover{
    opacity: .7;
}
/* --------------- /search --------------- */

@media (min-width: 768px){

    /* --------------- site --------------- */
    .site__header {
        height: 53px;
    }
    .site__footer,
    .site__footer-layout {
        height: 280px;
    }
    .site__footer-layout {
        padding-top: 53px;
    }
    .site__footer-layout li a{
        font-size: 30px;
    }
    .site__footer-logo{
        display: block;
        bottom: 28px;
        left: 16px;
    }
    .site__footer-menu {
        display: inline-block;
        margin-left: 316px;
        vertical-align: top;
    }
    .site__footer-layout li {
        margin-bottom: 18px;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo {
        height: 55px;
        margin-left: -224px;
        padding-top: 2px;
        padding-left: 97px;
    }
    .logo:before {
        width: 105px;
        height: 48px;
        background-position: 0 -8px;
        background-size: 105px 71px;
    }
    /* --------------- /logo --------------- */

    /* --------------- menu --------------- */
    .menu{
        height: 48px;
    }
    .menu__btn{
        top: 8px;
        left: 15px;
        height: 40px;
        width: 49px;
        padding: 0 13px 5px;
    }
    .menu__btn > span,
    .menu__btn > span:before,
    .menu__btn > span:after{
        height: 3px;
    }
    /* --------------- /menu --------------- */

    /* --------------- search --------------- */
    .search{
        width: 215px;
    }
    .search:before,
    .search__btn{
        display: none;
    }
    .search__frame{
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        padding: 5px 18px 9px 13px;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
    }
    .search__frame input{
        height: 36px;
        font-size: 12px;
        padding: 0 5px;
    }
    .search__frame button {
        top: 5px;
        right: 19px;
        width: 23px;
        height: 29px;
        background-size: 18px 19px;
    }
    /* --------------- /search --------------- */
}

@media (min-width: 950px){
    /* --------------- site --------------- */
    .site__header{
        height: 61px;
        border-bottom-width: 3px;
    }
    .site__aside{
        display: block;
        float: left;
        width: 208px;
        height: 500px;
        margin-right: 20px;
        box-shadow: 0 5px;
        background-color: #fff;
    }
    .site__footer,
    .site__footer-layout {
        height: 186px;
    }
    .site__footer-layout {
        padding-top: 34px;
    }
    .site__footer-popular{
        display: inline-block;
        vertical-align: top;
        margin-left: 103px;
    }
    .site__footer-super{
        display: inline-block;
        vertical-align: top;
        margin-left: 107px;
    }
    .site__footer-super>h2{
        color:#dc2d26;
    }

    .site__footer-layout li a{
        font-size: 14px;
    }
    .site__footer-layout li{
        margin-bottom: 8px;
    }
    .site__footer-layout h2{
        margin-bottom: 15px;
        font-size: 16px;
    }
    .site__footer-menu>h2{
        display: block;
        font-size: 16px;
    }
    .site__footer-logo{
        width: 136px;
        height: 123px;
        bottom: 36px;
        left: 48px;
    }
    .site__footer-menu {
        margin-left: 256px;
        text-align: left;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo{
        position: absolute;
        top: 17px;
        left: 0;
        margin: 0;
        padding: 0;
    }
    .logo:before{
        width: 208px;
        height: 182px;
        background: url("../img/logo-big.png") no-repeat 6px 4px/194px 178px;
    }
    .logo img{
        display: none;
    }
    /* --------------- /logo --------------- */

    /* --------------- menu --------------- */
    .menu{
        margin-top: 6px;
        margin-left: 210px;
    }
    .menu__btn{
        display: none;
    }
    .menu__wrap{
        position: static;
        width: auto;
        background: transparent;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
    }
    .menu__wrap a{
        display: inline-block;
        padding-top: 19px;
        font-size: 18px;
        color: #0098ff;
    }
    .menu__wrap .aside__layout{
        display: none;
    }
    /* --------------- /menu --------------- */

    /* --------------- search --------------- */
    .search__frame{
        padding: 13px 0 9px 53px;
    }
    .search__frame button {
        top: 14px;
        right: 3px;
        width: 26px;
        height: 28px;
        background-size: 22px 23px;
    }
    /* --------------- /search --------------- */
}