@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "Font Name";
    src: url("../fonts/font.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;

    height: 100px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__content h2{
    font-size: 16px;
    color: #6a828a;
    text-align: center;
    border: 1px dashed #6a828a;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    padding: 10px 0;
}
.site__header {
    position: relative;

    height: 100px;
    background: red;
    z-index: 3;

}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
.site__footer-layout {
    width: 100%;

    height: 100px;
    background: blue;
}
/* --------------- /site --------------- */

/* --------------- casino-bonus --------------- */
.casino-bonus{

}
.casino-bonus__item{
    padding: 3px;
 }
.casino-bonus__head{
    background: #dcdfe8;
    position: relative;
    min-height: 54px;
    text-shadow: 1px 1px 0 #fff;
}
.casino-bonus__title{
    color: #0098ff;
    font-size: 16px;
    padding: 18px 0 20px 5px;
}
.casino-bonus__date{
    color: #8fa0a5;
    border-left: 1px dashed #8fa0a5;
    font-weight: bold;
    position: absolute;
    right: 11px;
    top: 0px;
    text-align: center;
    padding-left: 7px;
    height: 100%;
    width: 42px;
}
.casino-bonus__date span{
    display: block;
}
.casino-bonus__date .month{
    font-size: 16px;
    text-transform: lowercase;
    margin-bottom: 3px;
}
.casino-bonus__date .day{
    font-size: 18px;
    margin-bottom: 1px;
}
.casino-bonus__date .year{
    font-size: 12px;
}
/* --------------- /casino-bonus --------------- */

/* --------------- logo --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */
