@charset "utf-8";

/*
    main styles
    version: 04.12.2015

    tabs

    comment

    casino-info


*/

/* --------------- tabs --------------- */
.tabs{
    overflow: hidden;
    border-bottom: 1px solid #0098ff;
    font-family: "helvetica-light", sans-serif;
    margin: 0 0 15px;
}
.tabs a{
    float: left;
    color: #6a828a;
    font-size: 10px;
    line-height: 12px;
    width: 25%;
    padding: 4px 12px;
}
.tabs a.active{
    background: #0098ff;
    color: #fff;
}
/* --------------- /tabs --------------- */

/* --------------- comment --------------- */
.comment{

}
.comment__item{
    position: relative;
    padding: 0 0 0 40px;
    font-size: 13px;
    line-height: 15px;
    color: #6a828a;
    font-family: "helvetica-light", sans-serif;
    margin: 0 0 15px;
}
.comment__item:after{
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    background: url("../img/comment-bg.png") no-repeat;
    background-size: cover;
    width: 29px;
    height: 26px;
}
.comment__item>div{
    border-bottom: 1px solid #d3dadc;
    padding: 0 0 7px;
}
.comment__item p{
    margin: 0 0 2px;
}
.comment__item span{
    font-size: 10px;
    line-height: 12px;
    color: #b5b9c7;
}
.comment__item span a{
    color: #0098ff;
}
.comment__item span a:hover{
    text-decoration: underline;
}
.comment__btns{

}
.comment__btns .btn_review{
    left: auto;
    height: 36px;
    width: 137px;
    padding-top: 9px;
    line-height: 15px;
    font-size: 15px;
    padding-right: 10px;
}
.comment__btns .btn_play{
    float: none;
    line-height: 15px;
    font-size: 15px;
    width: 138px;
    height: 35px;
    padding-top: 12px;
}
/* --------------- comment --------------- */

/* --------------- casino-info --------------- */
.casino-info{

}
.casino-info h2{
    color: #2d3e50;
    font-size: 20px;
    line-height: 22px;
}
/* --------------- /casino-info --------------- */

@media (min-width: 768px){

    /* --------------- tabs --------------- */
    .tabs a{
        font-size: 16px;
        line-height: 16px;
        padding: 10px 19px;
        width: 23.3%;
    }
    /* --------------- /tabs --------------- */

    /* --------------- comment --------------- */
    .comment__item{
        padding: 0 0 0 65px;
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 24px;
    }
    .comment__item:after{
        top: 6px;
        left: 2px;
        width: 34px;
        height: 31px;
    }
    .comment__item p{
        margin: 0 0 5px;
    }
    .comment__item span{
        font-size: 12px;
        line-height: 15px;
    }
    .comment__btns {
        text-align: right;
    }
    .comment__btns .btn_review {
        height: 35px;
        width: 129px;
        padding-top: 8px;
        padding-right: 2px;
    }
    .comment__btns .btn_play {
        width: 131px;
        height: 35px;
        padding-top: 12px;
    }
    /* --------------- /comment --------------- */

}

@media (min-width: 950px){

    /* --------------- comment --------------- */
    .comment__item {
        padding: 0 0 0 81px;
    }
    .comment__item:after {
        top: 7px;
        left: 19px;
    }
    .comment__item p {
        margin: 0 0 7px;
    }
    .comment__item>div {
        padding: 0 0 5px;
    }
    /* --------------- /comment --------------- */
}